<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.dk.myapplication1">
android:versionCode="1"
android:versionName="1.0" >

<uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="15" />

<application
    android:allowBackup="true"

    android:icon="@mipmap/ic_launcher"
    android:label="SubBook"
    android:persistent="true"
    android:configChanges="keyboard|keyboardHidden|orientation"
android:theme="@style/AppTheme" >
    <activity android:name=".NewActivity"
        android:alwaysRetainTaskState="true"
        android:exported="true"
        android:label="SubBook" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="com.example.dk.myapplication1.MainActivity"
        android:label="SubBook" >
        <intent-filter>
            <action android:name="android.intent.action.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name="com.example.dk.myapplication1.NewActivity2"
        android:label="SubBook" >
    </activity>
</application>

</manifest>

